<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Date of departure</th>
    <th>Date of arrival</th>
    <th>Collect</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.date_of_departure %></td>
    <td><%= booking.date_of_arrival %></td>
    <td><%= booking.collect %></td>
    <td><%= booking.user_id %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
