<%= stylesheet_link_tag    "newUser" %>
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
 <% if @user.errors.any? %>
  <div class="error_messages">
   <h2>Form is invalid</h2>
   <ul>
    <% for message in @user.errors.full_messages %>
     <li><%= message %></li>
    <% end %>
   </ul>
  </div>
 <% end %>
 <div class="field">
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email%><br/>
 </div>
 <div class="field">
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %><br/><br/>
 </div>
 <div>
  <%= f.label :password_confirmation, "Confirm Password: " %><br/>
  <%= f.password_field :password_confirmation %>
 </div>
 <div>
  <%= f.label :is_admin, "Admin: " %>
  <%= f.check_box :is_admin, default: false %>
 </div>
 <div class="actions"><%= f.submit %></div>
<% end %>
