<h1>Listing payements</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Payement type</th>
    <th>Booking</th>
    <th>Payement date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payements.each do |payement| %>
  <tr>
    <td><%= payement.amount %></td>
    <td><%= payement.payement_type %></td>
    <td><%= payement.booking_id %></td>
    <td><%= payement.payement_date %></td>
    <td><%= link_to 'Show', payement %></td>
    <td><%= link_to 'Edit', edit_payement_path(payement) %></td>
    <td><%= link_to 'Destroy', payement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payement', new_payement_path %>
