<h1>Listing cars</h1>

<table>
  <tr>
    <th>Reg</th>
    <th>Model</th>
    <th>Class</th>
    <th>Repair</th>
    <th>Booking</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.reg %></td>
    <td><%= car.model %></td>
    <td><%= car.class %></td>
    <td><%= car.repair %></td>
    <td><%= car.booking_id %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
