<p id="notice"><%= notice %></p>

<p>
  <b>Reg:</b>
  <%= @car.reg %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Class:</b>
  <%= @car.class %>
</p>

<p>
  <b>Repair:</b>
  <%= @car.repair %>
</p>

<p>
  <b>Booking:</b>
  <%= @car.booking_id %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
