<!DOCTYPE html>
<html>
    <head>
     <title>Scars</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
    </head>
	<body>
	 <div id="main_wrapper">
	  <header>
	   <%= image_tag("logo.png", :alt => "Sample App") %>
	   <%= flash[:notice] %>
	   <% if current_user %>
        <p>Logged in as <%= current_user.email %>.</p>
        <%= link_to "Logout", "/logout" %>
        <% else %>
        <ul>
         <li id="main_login"><a href="#" onclick=myFunction();>Login<%= image_tag("arrow_down.png", :alt => "Arrow Down", :id => "Arrow") %></a></li>
		</ul>
       <% end %>
	   <div id="login_dropdown">
			<p>Username<br />
			<input type="text" /></p>
			<p>Password<br />
			<input type="password" /><br />
			<a href="#"><%=link_to "Not Registered?", new_user_path%></a></p>
        </div>
	  </header>
	 <div id="main_nav">
	  <nav>
	   <ul>
	    <li><%= link_to 'Home', root_path%></li>
	    <li><%=link_to 'Booking', new_booking_path%></li>
	    <li><a href="#"> Contact</a></li>
	    <li><a href="#"> About</a></li>
	   </ul>
	  </nav>
	 </div>
	 <section>
	  <article>
	   <%= yield %>
	  </article>
	  <aside>
	   <h1>New Offer </h1>
	   <%= image_tag("promo.jpeg", :alt => "Promotional Material")%>
	  </aside>
	 </section>
	 <footer>
	  <div id="rights"> All content belongs to Clear Solutions </div>
	 </footer>
	</div>
   </body>
   
   <script>
   function myFunction(){
   var drop = document.getElementById('login_dropdown');
   var arrow = document.getElementById('Arrow');
	if(drop.style.display == "block"){
		drop.style.display = "none";
		arrow.src = "/assets/arrow_down.png";
		arrow.alt = "Arrow Down";
	}
	else{
		drop.style.display = "block";
		arrow.src = "/assets/arrow_up.png";
		arrow.alt = "Arrow Up";
	}
   }
   </script>
</html>
